@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "SF Pro Display",
        "Segoe UI",
        sans-serif;

    background: #fcf9f2;
}